<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<app-nav-bar></app-nav-bar>
<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">ATTITUDE & SKILL</h2>

  <!-- Button to open the create modal -->
  <div class="card flex justify-content-end">
    <p-button
      label="Create"
      icon="pi pi-plus"
      (click)="showCreateDialog()"
    ></p-button>
  </div>
  <br />
  <!-- PrimeNG Dialog for creating a new group achievement -->
  <p-dialog
    header="Create New Attitude Skill"
    [(visible)]="displayCreateDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px', height: '450px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="attitudeSkillName">Attitude Skill</label>
        <input
          pInputText
          id="attitudeSkillName"
          [(ngModel)]="newAttitudeSkill.attitude_skill_name"
          placeholder="Enter Attitude Skill"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="groupAttitudeSkill">Group Attitude Skill</label>
        <p-dropdown
          [options]="groupAttitudeSkillOptions"
          [(ngModel)]="newAttitudeSkill.group_attitude_skill_id"
          placeholder="Select Group Attitude Skill"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="enabled">Enabled</label>
        <br />
        <select
          id="enabled"
          [(ngModel)]="newAttitudeSkill.enabled"
          class="p-inputtext"
        >
          <option [value]="1">Enabled</option>
          <option [value]="0">Disabled</option>
        </select>
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Create"
        icon="pi pi-check"
        (click)="createAttitudeSkill()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        (click)="displayCreateDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <!-- PrimeNG Dialog for editing an achievement -->
  <p-dialog
    header="Edit Achievement"
    [(visible)]="displayEditDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px', height: '450px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="editAchievementName">Attitude Skill</label>
        <input
          pInputText
          id="editAchievementName"
          [(ngModel)]="editAttitudeSkill.attitude_skill_name"
          placeholder="Enter Achievement Name"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement">Group Attitude Skill</label>
        <p-dropdown
          [options]="groupAttitudeSkillOptions"
          [(ngModel)]="editAttitudeSkill.group_attitude_skill_id"
          placeholder="Select Group Achievement"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="editEnabled">Enabled</label>
        <select
          id="editEnabled"
          [(ngModel)]="editAttitudeSkill.enabled"
          class="p-inputtext"
        >
          <option [value]="1">Enabled</option>
          <option [value]="0">Disabled</option>
        </select>
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="updateAttitudeSkill()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        (click)="displayEditDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <!-- Existing Table for Achievements -->
  <div class="card">
    <p-table
      #dt2
      [value]="attitudeSkills"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="isLoading"
      [paginator]="true"
      [globalFilterFields]="[
        'attitude_skill_name',
        'group_name',
        'group_attitude_skill_id'
      ]"
      [tableStyle]="{ 'min-width': '55rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">No.</th>
          <th class="division-column">Attitude Skill</th>
          <th class="division-column">Group Attitude Skill</th>
          <th class="action-column">Action</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <p-columnFilter
              type="text"
              field="attitude_skill_name"
              placeholder="Search by attitude skill"
              ariaLabel="Filter Attitude Skill"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="group_name"
              placeholder="Search by group attitude skill"
              ariaLabel="Filter Group Attitude skill"
            />
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-achievement let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ achievement.attitude_skill_name }}</td>
          <td>{{ achievement.group_name }}</td>
          <td>
            <div class="action-buttons">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-sm p-button-info"
                (click)="showEditDialog(achievement)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-sm p-button-danger"
                (click)="deleteAttitudeSkill(achievement.id)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No achievements found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
