.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.error-message {
  color: red;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.group-column {
  width: 265px;
  max-width: 265px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.percent-column {
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-buttons button {
  margin-right: 8px;
}

.action-buttons button:last-child {
  margin-right: 0;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  color: #555;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.group-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9f5ff;
  border-radius: 5px;
  border: 1px solid #b3d7ff;
}

.group-title {
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
}

.data-table {
  margin-bottom: 15px;
}

.textarea-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.add-row-button {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.column-filter {
  display: flex;
  align-items: center;
  width: 275px;
}

.form-label1 {
  display: block;
  margin-bottom: 8px;
}
