<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<app-nav-bar></app-nav-bar>
<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">DEVELOPMENT PLAN</h2>

  <div class="card flex justify-content-end">
    <p-button
      label="Create "
      icon="pi pi-plus"
      (click)="showCreateDialog()"
    ></p-button>
  </div>
  <br />

  <p-dialog
    header="Create Dev Plan"
    [(visible)]="displayCreateDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="groupName" class="form-label1">Dev Plan</label>

        <textarea
          pInputTextarea
          id="groupName"
          [(ngModel)]="newDevPlan.plan"
          rows="5"
          class="textarea-field"
        ></textarea>
        <div *ngIf="isDuplicate" style="color: red; font-size: 15px">
          Data sudah ada
        </div>
      </div>
      <br />
      <div class="p-field">
        <label for="enabled" class="form-label1">Enabled</label>

        <p-toggleButton
          [(ngModel)]="newDevPlan.enabled"
          [onLabel]="'Enabled'"
          [offLabel]="'Disabled'"
          name="enabled"
          (onChange)="newDevPlan.enabled = $event.checked ? 1 : 0"
        ></p-toggleButton>
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Create"
        icon="pi pi-check"
        class="p-button-sm p-button-info"
        (click)="createDevPlan()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-sm p-button-danger"
        (click)="displayCreateDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <p-dialog
    header="Edit Dev Plan"
    [(visible)]="displayEditDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="editGroupName" class="form-label1">Dev Plan</label>

        <textarea
          pInputTextarea
          id="editGroupName"
          [(ngModel)]="selectedDevPlan.plan"
          rows="5"
          class="textarea-field"
        ></textarea>
      </div>
      <br />
      <div class="p-field">
        <label for="editEnabled" class="form-label1">Enabled</label>

        <p-toggleButton
          [(ngModel)]="selectedDevPlan.enabled"
          [onLabel]="'Enabled'"
          [offLabel]="'Disabled'"
          name="enabled"
          (onChange)="selectedDevPlan.enabled = $event.checked ? 1 : 0"
        ></p-toggleButton>
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Save"
        icon="pi pi-save"
        class="p-button-sm p-button-info"
        (click)="updateDevPlan()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-sm p-button-danger"
        (click)="displayEditDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <div class="card">
    <p-table
      #dt2
      [value]="devPlans"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="isLoading"
      [paginator]="true"
      [globalFilterFields]="['plan']"
      [tableStyle]="{ 'min-width': '45rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="percent-column"></th>
          <th></th>
          <th>
            <div class="column-filter">
              <p-columnFilter
                type="text"
                field="plan"
                placeholder="Search by plan"
                ariaLabel="Filter Plan"
              />
            </div>
          </th>
        </tr>
        <tr>
          <th style="width: 10px">No.</th>
          <th class="division-column">Plan</th>
          <th class="action-column" style="text-align: center">Status</th>
          <th class="action-column" style="text-align: center">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-achievement let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ achievement.plan }}</td>
          <td style="text-align: center">
            <p-tag
              [severity]="achievement.enabled ? 'success' : 'danger'"
              [value]="achievement.enabled ? 'Enabled' : 'Disabled'"
            ></p-tag>
          </td>
          <td>
            <div class="action-buttons">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-sm p-button-info"
                (click)="editDevPlan(achievement)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-sm p-button-danger"
                (click)="deleteDevPlan(achievement.id)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No dev plans found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
