<app-nav-bar></app-nav-bar>

<div class="container" style="background-color: #f5f5f5">
  <h1 class="title">FORM EVALUASI KINERJA - RENCANA PENGEMBANGAN</h1>

  <div class="form-group">
    <label for="assessmentYear">Assessment Year:</label>
    <input
      type="number"
      id="assessmentYear"
      [(ngModel)]="assessmentYear"
      disabled="true"
      class="input-field"
    />
  </div>

  <div *ngFor="let group of groupData" class="group-container">
    <h3 class="group-title">{{ group.plan }}</h3>

    <p-table [value]="group.rows" [paginator]="false" class="data-table">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 70%">Keterangan</th>
          <th style="width: 20%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            <textarea
              pInputTextarea
              [(ngModel)]="row.plan_detail"
              (blur)="logPlanId(row.dev_plan_id, row.plan_detail, row)"
              [disabled]="row.status === 'saved'"
              class="textarea-field"
              rows="3"
            ></textarea>
          </td>
          <td>
            <p-button
              label="Hapus"
              icon="pi pi-trash"
              class="p-button-sm p-button-danger"
              (click)="deleteRow(group, i)"
              [disabled]="row.status === 'saved'"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <p-button
      label="Tambah Row"
      icon="pi pi-plus"
      (click)="addRow(group)"
      class="add-row-button"
    ></p-button>
  </div>

  <br />
  <div class="button-container">
    <p-button
      label="Simpan"
      icon="pi pi-save"
      (click)="savePlans()"
      class="save-button"
    ></p-button>
  </div>
</div>
