<app-nav-bar></app-nav-bar>

<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">PERFORMANCE EVALUATION FORM - DEVELOPMENT PLAN</h2>
  <br />
  <div class="form-group">
    <label for="assessmentYearDropdown">Assessment Year:</label>
    <select
      id="assessmentYearDropdown"
      [(ngModel)]="selectedAssessmentYear"
      (change)="onAssessmentYearChange()"
      class="dropdown"
    >
      <option *ngFor="let year of assessmentYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>

  <div *ngFor="let group of groupData" class="group-container">
    <h3 class="group-title">{{ group.plan }}</h3>

    <p-table [value]="group.rows" [paginator]="false" class="data-table">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 70%">Description</th>
          <th style="width: 10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            <textarea
              pInputTextarea
              [(ngModel)]="row.plan_detail"
              (blur)="logPlanId(row.dev_plan_id, row.plan_detail, row)"
              [disabled]="row.status === 'saved'"
              class="textarea-field"
              rows="3"
            ></textarea>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-sm p-button-danger"
              (click)="deleteRow(group, i)"
              [disabled]="row.status === 'saved'"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <p-button
      label="Add new row"
      icon="pi pi-plus"
      (click)="addRow(group)"
      class="add-row-button"
      [disabled]="isPreviousYearSelected"
    ></p-button>
  </div>

  <br />
  <div class="button-container">
    <p-button
      label="Submit"
      icon="pi pi-save"
      (click)="savePlans()"
      class="save-button"
      [disabled]="isPreviousYearSelected"
    ></p-button>
  </div>
</div>
