<app-nav-bar></app-nav-bar>

<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">TECHNICAL SKILL</h2>

  <div class="card flex justify-content-end">
    <button
      pButton
      type="button"
      label="Create"
      icon="pi pi-plus"
      (click)="openCreateDialog()"
    ></button>
  </div>
  <br />
  <div class="card">
    <p-table
      #dt1
      [value]="technicalSkills"
      dataKey="id"
      [rows]="10"
      [globalFilterFields]="['technical_skill']"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [tableStyle]="{ 'min-width': '45rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clearFilters(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="onGlobalSearch($event)"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="action-column">No.</th>
          <th class="division-column">Technical Skill</th>
          <th class="action-column" style="text-align: center">Status</th>
          <th class="action-column">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-skill let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ skill.technical_skill }}</td>
          <td style="text-align: center">
            <p-tag
              [severity]="skill.enabled ? 'success' : 'danger'"
              [value]="skill.enabled ? 'Enabled' : 'Disabled'"
            ></p-tag>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-sm"
              style="margin-right: 8px"
              (click)="openEditDialog(skill)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-sm p-button-danger"
              (click)="onDelete(skill)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-create-tech-skill-dialog
    [(visible)]="displayDialog"
    [techSkillData]="selectedTechSkill"
    [nameList]="nameList"
    (techSkillSaved)="onTechSkillSaved($event)"
  ></app-create-tech-skill-dialog>
</div>
