<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<app-nav-bar></app-nav-bar>
<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">EMPLOYEE ACHIEVEMENT</h2>

  <!-- Button to open the create modal -->
  <div class="card flex justify-content-end">
    <p-button
      label="Create"
      icon="pi pi-plus"
      (click)="showCreateDialog()"
    ></p-button>
  </div>

  <br />

  <p-dialog
    header="Create New Emp Achieve"
    [(visible)]="displayCreateDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px', height: '450px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="userId" class="form-label1">User</label>
        <p-dropdown
          [options]="userOptions"
          [(ngModel)]="newEmpAchieve.user_id"
          (onChange)="onUserChange($event)"
          placeholder="Select User"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="notes" class="form-label1">Notes</label>
        <input
          pInputText
          id="notes"
          [(ngModel)]="newEmpAchieve.notes"
          placeholder="Enter notes"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="achievementId" class="form-label1">Achievement</label>
        <p-dropdown
          [options]="achievementOptions"
          [(ngModel)]="newEmpAchieve.achievement_id"
          (onChange)="onAchievementChange($event)"
          placeholder="Select Achievement"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="score" class="form-label1">Score</label>
        <input
          pInputText
          id="score"
          [(ngModel)]="newEmpAchieve.score"
          placeholder="Enter score"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="assessmentYear" class="form-label1">Assessment Year</label>
        <input
          pInputText
          id="assessmentYear"
          [(ngModel)]="newEmpAchieve.assessment_year"
          placeholder="Enter assessment year"
        />
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Create"
        icon="pi pi-check"
        class="p-button-sm p-button-info"
        (click)="createEmpAchieve()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-sm p-button-danger"
        (click)="displayCreateDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <p-dialog
    header="Edit Emp Achieve"
    [(visible)]="displayEditDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px', height: '450px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="editGroupAchievement" class="form-label1">User</label>
        <p-dropdown
          [options]="userOptions"
          [(ngModel)]="editEmpAchieve.user_id"
          (onChange)="onUserChange($event)"
          placeholder="Select User"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="editAchievementName" class="form-label1">Notes</label>
        <input
          pInputText
          id="editAchievementName"
          [(ngModel)]="editEmpAchieve.notes"
          placeholder="Enter Notes"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement" class="form-label1"
          >Achievement</label
        >
        <p-dropdown
          [options]="achievementOptions"
          [(ngModel)]="editEmpAchieve.achievement_id"
          (onChange)="onAchievementChange($event)"
          placeholder="Select Achievement"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement" class="form-label1">Score</label>
        <input
          pInputText
          id="editGroupAchievement"
          [(ngModel)]="editEmpAchieve.score"
          placeholder="Enter Score"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement" class="form-label1"
          >Assessment Year</label
        >
        <input
          pInputText
          id="editGroupAchievement"
          [(ngModel)]="editEmpAchieve.assessment_year"
          placeholder="Enter Assessment Year"
        />
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Save"
        icon="pi pi-check"
        class="p-button-sm p-button-info"
        (click)="updateEmpAchieve()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-sm p-button-danger"
        (click)="displayEditDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <div class="card">
    <div class="controls" style="display: flex; align-items: center; gap: 1rem">
      <!-- Search Input -->
      <div class="p-inputgroup" style="width: 250px">
        <input
          type="text"
          pInputText
          placeholder="Search..."
          (keydown.enter)="onGlobalSearch($event)"
        />
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div>

    <div class="card">
      <p-table
        #dt2
        [value]="users"
        dataKey="id"
        [lazy]="true"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [loading]="isLoading"
        [paginator]="true"
        (onLazyLoad)="loadUsersLazy($event)"
        [tableStyle]="{ 'min-width': '45rem' }"
        [expandedRowKeys]="expandedRows"
        (onRowExpand)="onRowExpand($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>No.</th>
            <th
              pSortableColumn="fullName"
              style="width: 15%; text-align: center"
            >
              Name
              <p-sortIcon field="fullName"></p-sortIcon>
            </th>
            <th
              pSortableColumn="position"
              style="width: 20%; text-align: center"
            >
              Position
              <p-sortIcon field="position"></p-sortIcon>
            </th>
            <th
              pSortableColumn="emailAddress"
              style="width: 20%; text-align: center"
            >
              Email
              <p-sortIcon field="emailAddress"></p-sortIcon>
            </th>
            <th>Status</th>
            <th
              pSortableColumn="joinDate"
              style="width: 20%; text-align: center"
            >
              Join Date
              <p-sortIcon field="joinDate"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <!-- Body -->
        <ng-template
          pTemplate="body"
          let-user
          let-i="rowIndex"
          let-expanded="expanded"
        >
          <tr [pRowToggler]="user">
            <td>{{ i + 1 }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.position }}</td>
            <td>{{ user.email_address }}</td>
            <td>{{ user.employee_status ? "Permanent" : "Contract" }}</td>
            <td class="action-column">{{ user.join_date | date }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No emp achieve found.</td>
          </tr>
        </ng-template>
        <ng-template let-user pTemplate="rowexpansion">
          <tr>
            <td colspan="6">
              <div>
                <h4>{{ user.full_name }} Achievements</h4>
                <p-table [value]="user.achievements">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 20%; text-align: center">
                        Achievement Name
                      </th>
                      <th style="width: 20%; text-align: center">Notes</th>
                      <th style="width: 10%; text-align: center">Score</th>
                      <th
                        pSortableColumn="assessment_year"
                        style="width: 10%; text-align: center"
                      >
                        Assessment Year
                      </th>
                      <th style="width: 15%; text-align: center">Action</th>
                    </tr>
                  </ng-template>
                  <ng-template
                    pTemplate="body"
                    let-achievement
                    let-i="rowIndex"
                  >
                    <tr>
                      <td style="text-align: center">
                        {{ achievement.achievement.achievement_name }}
                      </td>
                      <td style="text-align: center">
                        {{ achievement.notes }}
                      </td>
                      <td style="text-align: center">
                        {{ achievement.score }}
                      </td>
                      <td style="text-align: center">
                        {{ achievement.assessment_year }}
                      </td>
                      <td class="action-column" style="text-align: center">
                        <button
                          pButton
                          icon="pi pi-pencil"
                          class="p-button-sm p-button-info"
                          style="margin-right: 8px"
                          (click)="showEditDialog(achievement)"
                        ></button>
                        <button
                          pButton
                          icon="pi pi-trash"
                          class="p-button-sm p-button-danger"
                          (click)="
                            deleteEmpAchieve(
                              achievement.id,
                              achievement.user_id,
                              achievement.assessment_year
                            )
                          "
                        ></button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="4">No achievements found.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
          <ng-template #loading>
            <p>Loading achievements...</p>
          </ng-template>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
