<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<app-nav-bar></app-nav-bar>
<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">EMPLOYEE ACHIEVEMENT</h2>

  <!-- Button to open the create modal -->
  <div class="card flex justify-content-end">
    <p-button
      label="Create"
      icon="pi pi-plus"
      (click)="showCreateDialog()"
    ></p-button>
  </div>

  <br />

  <p-dialog
    header="Create New Emp Achieve"
    [(visible)]="displayCreateDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px', height: '450px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="userId">User</label>
        <p-dropdown
          [options]="userOptions"
          [(ngModel)]="newEmpAchieve.user_id"
          (onChange)="onUserChange($event)"
          placeholder="Select User"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="notes">Notes</label>
        <input
          pInputText
          id="notes"
          [(ngModel)]="newEmpAchieve.notes"
          placeholder="Enter notes"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="achievementId">Achievement</label>
        <p-dropdown
          [options]="achievementOptions"
          [(ngModel)]="newEmpAchieve.achievement_id"
          (onChange)="onAchievementChange($event)"
          placeholder="Select Achievement"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="score">Score</label>
        <input
          pInputText
          id="score"
          [(ngModel)]="newEmpAchieve.score"
          placeholder="Enter score"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="assessmentYear">Assessment Year</label>
        <input
          pInputText
          id="assessmentYear"
          [(ngModel)]="newEmpAchieve.assessment_year"
          placeholder="Enter assessment year"
        />
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Create"
        icon="pi pi-check"
        (click)="createEmpAchieve()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        (click)="displayCreateDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <p-dialog
    header="Edit Emp Achieve"
    [(visible)]="displayEditDialog"
    modal="true"
    [closable]="true"
    [style]="{ width: '400px', height: '450px' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="editGroupAchievement">User</label>
        <p-dropdown
          [options]="userOptions"
          [(ngModel)]="editEmpAchieve.user_id"
          (onChange)="onUserChange($event)"
          placeholder="Select User"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="editAchievementName">Notes</label>
        <input
          pInputText
          id="editAchievementName"
          [(ngModel)]="editEmpAchieve.notes"
          placeholder="Enter Notes"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement">Achievement</label>
        <p-dropdown
          [options]="achievementOptions"
          [(ngModel)]="editEmpAchieve.achievement_id"
          (onChange)="onAchievementChange($event)"
          placeholder="Select Achievement"
        >
        </p-dropdown>
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement">Score</label>
        <input
          pInputText
          id="editGroupAchievement"
          [(ngModel)]="editEmpAchieve.score"
          placeholder="Enter Score"
        />
      </div>
      <br />
      <div class="p-field">
        <label for="editGroupAchievement">Assessment Year</label>
        <input
          pInputText
          id="editGroupAchievement"
          [(ngModel)]="editEmpAchieve.assessment_year"
          placeholder="Enter Assessment Year"
        />
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="updateEmpAchieve()"
      ></button>
      <button
        type="button"
        pButton
        label="Cancel"
        icon="pi pi-times"
        (click)="displayEditDialog = false"
      ></button>
    </p-footer>
  </p-dialog>

  <div class="card">
    <div class="p-inputgroup" style="width: 250px">
      <input
        type="text"
        pInputText
        placeholder="Search..."
        (input)="onGlobalSearch($event)"
      />
      <span class="p-inputgroup-addon">
        <i class="pi pi-search"></i>
      </span>
    </div>

    <div class="card">
      <p-table
        #dt2
        [value]="empAchieveSkill"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="isLoading"
        [paginator]="true"
        [globalFilterFields]="[
          'username',
          'user_id',
          'notes',
          'achievement_id',
          'achievement_name',
          'score',
          'assessment_year'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10px">No.</th>
            <th class="division-column">Username</th>
            <th class="division-column">Notes</th>
            <th class="division-column">Achievement Name</th>
            <th class="division-column" pSortableColumn="score">
              Score
              <p-sortIcon field="score"></p-sortIcon>
            </th>
            <th class="division-column" pSortableColumn="assessment_year">
              Assessment Year
              <p-sortIcon field="assessment_year"></p-sortIcon>
            </th>
            <th class="action-column">Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-achievement let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td class="division-column">{{ achievement.username }}</td>
            <td class="division-column">{{ achievement.notes }}</td>
            <td class="division-column">{{ achievement.achievement_name }}</td>
            <td class="division-column">{{ achievement.score }}</td>
            <td class="division-column">{{ achievement.assessment_year }}</td>
            <td>
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-sm p-button-info action-button-spacing"
                (click)="showEditDialog(achievement)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-sm p-button-danger action-button-spacing"
                (click)="
                  deleteEmpAchieve(
                    achievement.id,
                    achievement.user_id,
                    achievement.assessment_year
                  )
                "
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No emp achieve found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
