<!-- <div>
  <app-achievement></app-achievement>
</div> -->

<!-- <div>
  <app-group-achievement></app-group-achievement>
</div> -->

<!-- <div>
  <app-group-attitude-skill></app-group-attitude-skill>
</div> -->

<div style="text-align: center; padding: 10px">
  <h1 *ngIf="role === 'HR'">HR MENU</h1>
  <h1 *ngIf="role === 'EMP'">EMP MENU</h1>
</div>

<p-menubar [model]="items">
  <div style="margin-left: auto">
    <button
      pButton
      label="logout"
      class="p-button-danger"
      style="font-weight: bold"
    ></button>
  </div>
</p-menubar>

<router-outlet></router-outlet>
