<app-nav-bar></app-nav-bar>

<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">ROLE MENU</h2>
  <p-table
    [value]="menus"
    [responsiveLayout]="'scroll'"
    [loading]="isLoading"
    class="p-datatable-sm p-mt-3 p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="p-text-center">Permission</th>
        <th *ngFor="let roleMenu of currentRoleMenus" class="p-text-center">
          {{ roleMenu.role.rolename }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-menu>
      <tr>
        <td class="p-text-center">{{ menu.menu_name }}</td>
        <td *ngFor="let roleMenu of currentRoleMenus" class="p-text-center">
          <div class="p-d-flex p-ai-center p-jc-center">
            <p-checkbox
              [binary]="true"
              [(ngModel)]="checkboxStates[roleMenu.role.id][menu.id]"
              (onChange)="
                onCheckboxChange(roleMenu.role.id, menu.id, $event.checked)
              "
              class="p-mr-2"
            ></p-checkbox>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <br />
  <div class="card flex justify-content-end">
    <button
      pButton
      label="Save Changes"
      (click)="saveChanges()"
      class="p-button-success p-mt-3"
    ></button>
  </div>
</div>
