<app-nav-bar></app-nav-bar>

<div class="profile-container">
  <!-- Sidebar -->
  <div class="profile-sidebar">
    <ul>
      <li
        (click)="selectTab('profile')"
        [class.active]="selectedTab === 'profile'"
      >
        <i class="fa fa-user"></i> Profile
      </li>
      <li
        (click)="selectTab('password')"
        [class.active]="selectedTab === 'password'"
      >
        <i class="fa fa-key"></i> Change Password
      </li>
    </ul>
  </div>

  <!-- Content Area -->
  <div class="profile-content">
    <!-- Profile Tab -->
    @if(selectedTab === 'profile'){
    <div class="profile-tab">
      <div
        class="profile-picture"
        style="
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #007bff;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 50px;
          font-weight: bold;
          margin-right: 8px; /* Reduced space between the picture and text */
        "
      >
        {{ (user.username || "").charAt(0).toUpperCase() }}
      </div>
      <h1>Welcome, {{ user.full_name }}</h1>
      <h2>Profile Information</h2>
      <div class="profile-info">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email_address }}</p>
        <p><strong>Position:</strong> {{ user.position }}</p>
        <p><strong>Division:</strong> {{ user.division.division_name }}</p>
        <p>
          <strong>Join Date:</strong>
          {{ user.join_date | date : "MMM d, yyyy" }}
        </p>
        <!-- <p><strong>Status:</strong> {{ user.employee_status }}</p> -->
        <div class="roles-section">
          <p><strong>Roles:</strong></p>
          <div class="roles-container">
            <span *ngFor="let role of user.role" class="role-badge">
              {{ role.rolename }}
            </span>
          </div>
        </div>
      </div>
      <div class="logout-container">
        <button class="logout-button" (click)="onLogout()">Logout</button>
      </div>
    </div>
    }

    <div *ngIf="selectedTab === 'password'">
      <h2>Change Password</h2>
      <form [formGroup]="passwordForm!" (ngSubmit)="onChangePassword()">
        <!-- Current Password Field -->
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            id="currentPassword"
            type="password"
            formControlName="currentPassword"
            class="form-control"
          />
          <div
            *ngIf="
              passwordForm!.get('currentPassword')?.invalid &&
              passwordForm!.get('currentPassword')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="passwordForm!.get('currentPassword')?.hasError('required')"
            >
              Current password is required.
            </small>
            <small
              class="text-danger"
              *ngIf="
                passwordForm!.get('currentPassword')?.hasError('minlength')
              "
            >
              Password must be at least 8 characters.
            </small>
          </div>
        </div>

        <!-- New Password Field -->
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            id="newPassword"
            type="password"
            formControlName="newPassword"
            class="form-control"
          />
          @if(passwordForm!.get('newPassword')?.touched){
          @if(passwordForm!.get('newPassword')?.invalid){
          @if(passwordForm!.get('newPassword')?.hasError('required')){
          <small class="text-danger">New password is required.</small>
          }@else if(passwordForm!.get('newPassword')?.hasError('minlength')) {
          <small class="text-danger"
            >Password must be at least 8 characters.</small
          >
          } }@else if (passwordForm!.get('newPassword')?.value ===
          passwordForm!.get('currentPassword')?.value) {
          <small class="text-danger"
            >New password cannot be the same as the old password.</small
          >
          } }
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="form-control"
          />
          @if(passwordForm!.get('confirmPassword')?.touched){
          @if(passwordForm!.get('confirmPassword')?.value !==
          passwordForm!.get('newPassword')?.value){
          <small class="text-danger">Passwords do not match.</small>
          } }
        </div>

        <button type="submit" class="btn" [disabled]="passwordForm!.invalid">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
