<!-- sum-with-detail.component.html -->
<!-- <div *ngIf="errorMessage">{{ errorMessage }}</div>
<table *ngIf="groupedSkills.length > 0">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Attitude Skill Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let group of groupedSkills">
      <tr>
        <td [attr.rowspan]="group.skills.length">{{ group.group_name }}</td>
        <td>{{ group.skills[0].attitude_skill_name }}</td>
        <td>{{ group.skills[0].score }}</td>
      </tr>
      <tr *ngFor="let skill of group.skills.slice(1)">
        <td>{{ skill.attitude_skill_name }}</td>
        <td>{{ skill.score }}</td>
      </tr>
    </ng-container>
  </tbody>
</table> -->

<table>
  <tr>
    <th>Group Name</th>
    <th>Attitude Skill Name</th>
  </tr>
  <tr *ngFor="let group of empAttitudeSkills">
    <td>{{ group.attitude_skill.attitude_skill_name }}</td>
  </tr>
</table>
