<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
  (onHide)="closeDialog()"
>
  <ng-template pTemplate="header">
    <h3>{{ userData ? "Edit User" : "Create User" }}</h3>
  </ng-template>

  <div class="grid formgrid p-fluid">
    <!-- Row 1: Username and Email -->
    <div class="field col-12 md:col-6">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        pInputText
        [(ngModel)]="user.username"
        name="username"
        required
        #username="ngModel"
      />
      <div *ngIf="username.invalid && username.touched" class="p-error">Username is required.</div>
    </div>

    <div class="field col-12 md:col-6">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        pInputText
        [(ngModel)]="user.email_address"
        name="email"
        required
        #email="ngModel"
      />
      <div *ngIf="email.invalid && email.touched" class="p-error">Email is required.</div>
    </div>

    <!-- Row 2: Password and Full Name -->
    <div class="field col-12 md:col-6">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        pInputText
        [(ngModel)]="user.password"
        name="password"
        required
        #password="ngModel"
      />
      <div *ngIf="password.invalid && password.touched" class="p-error">Password is required.</div>
    </div>

    <div class="field col-12 md:col-6">
      <label for="fullname">Full Name</label>
      <input
        id="fullname"
        type="text"
        pInputText
        [(ngModel)]="user.full_name"
        name="full_name"
        required
        #fullname="ngModel"
      />
      <div *ngIf="fullname.invalid && fullname.touched" class="p-error">Full Name is required.</div>
    </div>

    <!-- Row 3: Position and Status -->
    <div class="field col-12 md:col-6">
      <label for="position">Position</label>
      <input
        id="position"
        type="text"
        pInputText
        [(ngModel)]="user.position"
        name="position"
        required
        #position="ngModel"
      />
      <div *ngIf="position.invalid && position.touched" class="p-error">Position is required.</div>
    </div>

    <div class="field col-12 md:col-6">
      <label for="status">Status</label>
      <div class="flex gap-2">
        <button
          pButton
          label="Permanent"
          class="w-6"
          [class]="{'p-button-info': user.employee_status === 1, 'p-button-outlined': user.employee_status !== 1}"
          (click)="setEmployeeStatus(1)"
        ></button>
        <button
          pButton
          label="Contract"
          class="w-6"
          [class]="{'p-button-info': user.employee_status === 0, 'p-button-outlined': user.employee_status !== 0}"
          (click)="setEmployeeStatus(0)"
        ></button>
      </div>
      @if(user.employee_status.invalid){
        <div class="p-error">Status is required.</div>
      }
    </div>

    <!-- Row 4: Join Date and Enabled -->
    <div class="field col-12 md:col-6">
      <label for="joinDate">Join Date</label>
      <input
        id="joinDate"
        type="date"
        pInputText
        [(ngModel)]="user.join_date"
        name="join_date"
        required
        #joinDate="ngModel"
      />
      <div *ngIf="joinDate.invalid && joinDate.touched" class="p-error">Join Date is required.</div>
    </div>

    <div class="field col-12 md:col-6">
      <label for="enabled">Enabled</label>
      <p-toggleButton
        [(ngModel)]="user.enabled"
        [onLabel]="'Enabled'"
        [offLabel]="'Disabled'"
        name="enabled"
      ></p-toggleButton>
    </div>

    <!-- Row 5: Roles and Division -->
    <div class="field col-12 md:col-6">
      <label for="roles">Roles</label>
      <div class="flex flex-column gap-2">
        <div *ngFor="let role of roles">
          <p-checkbox
            [(ngModel)]="user.selectedRoles"
            [value]="role.id"
            name="roles"
            [label]="role.rolename"
            #rolesCheckbox="ngModel"
          ></p-checkbox>
        </div>
      </div>
      @if(user.selectedRoles.length === 0 ){
        <div class="p-error">Roles are required.</div>
      }
    </div>

    <div class="field col-12 md:col-6">
      <label for="division">Division</label>
      <p-dropdown
        [(ngModel)]="user.division"
        [options]="divisions"
        optionLabel="division_name"
        optionValue="id"
        placeholder="Select a Division"
      ></p-dropdown>
      @if (user.division === null) {
        <div class="p-error">Division is required.</div>
      }
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeDialog()"
      ></button>
      <button
        pButton
        type="submit"
        label="{{ userData ? 'Update' : 'Save' }}"
        icon="pi pi-check"
        [disabled]="!user.username || !user.email_address || !user.password || !user.full_name || !user.position|| !user.join_date || user.selectedRoles.length === 0 || !user.division || !user.employee_status || !user.enabled"
        (click)="saveUser()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
