.p-field {
  margin-bottom: 1rem; /* Adds spacing between rows */
}

.p-field label {
  font-weight: bold; /* Makes labels stand out */
}

:host ::ng-deep .p-dialog-mask{
  z-index: 1000 !important;
}

:host ::ng-deep .p-button-info {
  background-color: #007ad9;
  border-color: #007ad9;
}

:host ::ng-deep .p-button-outlined {
  background-color: transparent;
  border-color: #007ad9;
}

:host ::ng-deep .my-swal-popup {
  z-index: 99999 !important;
}

.required {
  color: red;
  font-weight: bold;
}

  