<!-- <app-nav-bar></app-nav-bar> -->

<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">
    PROVIDE YOUR FEEDBACK (EXPECTATIONS, CHALLENGES, SUGGESTIONS)
  </h2>
  <br />
  <div class="form-group">
    <label for="assessmentYearDropdown">Assessment Year:</label>
    <select
      id="assessmentYearDropdown"
      [(ngModel)]="selectedAssessmentYear"
      (change)="onAssessmentYearChange()"
      class="dropdown"
    >
      <option *ngFor="let year of assessmentYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>
  <br />
  <label for="status">Status:</label>
  <p-tag
    [severity]="isDisabled ? 'success' : 'warning'"
    [value]="isDisabled ? 'Sudah di Approve SPV' : 'Belum di Approve SPV'"
  ></p-tag>

  <div *ngFor="let group of groupData" class="group-container">
    <p-table [value]="group.rows" [paginator]="false" class="data-table">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 70%">Feedback</th>
          <th style="width: 10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            <textarea
              pInputTextarea
              [(ngModel)]="row.suggestion"
              class="textarea-field"
              rows="3"
              [disabled]="isDisabled"
            ></textarea>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-times"
              class="p-button-sm p-button-danger"
              (click)="deleteRow(group, i)"
              *ngIf="!row.saved"
              [disabled]="isDisabled"
            ></button>
            <button
              pButton
              icon="pi pi-times"
              class="p-button-sm p-button-danger"
              (click)="deleteSuggestion(row.id)"
              *ngIf="row.saved"
              [disabled]="isDisabled"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <p-button
      label="Add new row"
      icon="pi pi-plus"
      class="btn btn-primary"
      (click)="addRow(group)"
      [disabled]="isPreviousYearSelected || isDisabled"
    >
    </p-button>
  </div>

  <br />
  <div class="button-container">
    <p-button
      label="Save"
      icon="pi pi-save"
      (click)="saveSuggestions()"
      class="btn btn-success"
      [disabled]="isPreviousYearSelected || isDisabled"
    >
    </p-button>
  </div>
</div>
