<app-nav-bar></app-nav-bar>

<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">PERFORMANCE EVALUATION FORM - ATTITUDE & SKILL</h2>
  <br />
  <div class="form-group">
    <label for="assessmentYearDropdown">Assessment Year:</label>
    <select
      id="assessmentYearDropdown"
      [(ngModel)]="selectedAssessmentYear"
      (change)="onAssessmentYearChange()"
      class="dropdown"
    >
      <option *ngFor="let year of assessmentYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>

  <div *ngFor="let group of groupData" class="group-container">
    <h3 class="group-title">{{ group.group_name }}</h3>
    <p-table
      [value]="group.attitude_skills"
      [paginator]="false"
      class="data-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>No.</th>
          <th>Criteria</th>
          <th>
            Score
            <i
              class="pi pi-info-circle"
              pTooltip="Sangat Baik = 100 
              Baik = 80
              Cukup = 60 
              Kurang = 40 
              Sangat Kurang = 20"
              tooltipPosition="top"
              style="margin-left: 5px; cursor: pointer; color: #007ad9"
            ></i>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-skill let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ skill.attitude_skill_name }}</td>
          <td>
            <p-dropdown
              [options]="scoreOptions"
              [ngModel]="skill.score"
              placeholder="Select score"
              [appendTo]="'body'"
              (onChange)="logSkillId(skill.id, $event.value)"
              [disabled]="isSkillDisabled(skill.id)"
              [style]="{ width: '180px' }"
            ></p-dropdown>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="button-container">
    <button
      pButton
      type="button"
      label="Submit"
      icon="pi pi-save"
      (click)="saveSkills()"
      [disabled]="getUnfilledScoresCount() > 0"
    ></button>
  </div>
</div>
