<app-nav-bar></app-nav-bar>
<div class="container" style="background-color: #f5f5f5">
  <h1 class="title">FORM EVALUASI KINERJA - KEAHLIAN TEKNIS</h1>

  <div class="form-group">
    <label for="assessmentYear">Assessment Year:</label>
    <input
      type="number"
      id="assessmentYear"
      [(ngModel)]="assessmentYear"
      disabled="true"
      class="input-field"
    />
  </div>

  <div *ngFor="let group of groupData" class="group-container">
    <h3 class="group-title">{{ group.technical_skill }}</h3>

    <p-table [value]="group.rows" [paginator]="false" class="data-table">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 70%">Keterangan</th>
          <th style="width: 20%">Tingkat kemahiran (level)</th>
          <th style="width: 20%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            <textarea
              pInputTextarea
              [(ngModel)]="row.tech_detail"
              (blur)="
                logTechId2(row.tech_skill_id, row.tech_detail, row.score, row)
              "
              [style.width]="'100%'"
              rows="3"
              [disabled]="row.status === 'saved'"
            >
            </textarea>
          </td>
          <td>
            <p-dropdown
              [options]="scoreOptions"
              [(ngModel)]="row.score"
              placeholder="Pilih level"
              [appendTo]="'body'"
              (onChange)="
                logTechId2(row.tech_skill_id, row.tech_detail, row.score, row)
              "
              [disabled]="row.status === 'saved'"
            >
            </p-dropdown>
          </td>

          <td>
            <p-button
              label="Hapus"
              icon="pi pi-trash"
              class="p-button-sm p-button-danger"
              (click)="deleteRow(group, i)"
              [disabled]="row.status === 'saved'"
            >
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-button label="Tambah Row" icon="pi pi-plus" (click)="addRow(group)">
    </p-button>
  </div>
  <br />
  <div class="button-container">
    <p-button label="Simpan" icon="pi pi-save" (click)="saveTechs()"></p-button>
  </div>
</div>
