<app-nav-bar></app-nav-bar>
<div class="container" style="background-color: #f5f5f5">
  <h2 class="title">PERFORMANCE EVALUATION FORM - TECHNICAL SKILL</h2>
  <br />
  <div class="form-group">
    <label for="assessmentYearDropdown">Assessment Year:</label>
    <select
      id="assessmentYearDropdown"
      [(ngModel)]="selectedAssessmentYear"
      (change)="onAssessmentYearChange()"
      class="dropdown"
    >
      <option *ngFor="let year of assessmentYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>

  <div *ngFor="let group of groupData" class="group-container">
    <h3 class="group-title">{{ group.technical_skill }}</h3>

    <p-table [value]="group.rows" [paginator]="false" class="data-table">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 70%">Description</th>
          <th style="width: 20%">
            Skill level
            <i
              class="pi pi-info-circle"
              pTooltip="Ahli = 5 
              Advance = 4
              Praktisi = 3 
              Memahami = 2 
              Berpengetahuan = 1"
              tooltipPosition="top"
              style="margin-left: 5px; cursor: pointer; color: #007ad9"
            ></i>
          </th>
          <th style="width: 20%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>
            <textarea
              pInputTextarea
              [(ngModel)]="row.tech_detail"
              class="textarea-field"
              (blur)="
                logTechId2(row.tech_skill_id, row.tech_detail, row.score, row)
              "
              [style.width]="'100%'"
              rows="3"
              [disabled]="row.status === 'saved'"
            >
            </textarea>
          </td>
          <td>
            <p-dropdown
              [options]="scoreOptions"
              [(ngModel)]="row.score"
              placeholder="Pilih level"
              [appendTo]="'body'"
              (onChange)="
                logTechId2(row.tech_skill_id, row.tech_detail, row.score, row)
              "
              [disabled]="row.status === 'saved'"
              [style]="{ width: '175px' }"
            >
            </p-dropdown>
          </td>

          <td>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-sm p-button-danger"
              (click)="deleteRow(group, i)"
              [disabled]="row.status === 'saved'"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <p-button
      label="Add new row"
      icon="pi pi-plus"
      (click)="addRow(group)"
      [disabled]="isPreviousYearSelected"
    >
    </p-button>
  </div>
  <br />
  <div class="button-container">
    <p-button
      label="Submit"
      icon="pi pi-save"
      (click)="saveTechs()"
      [disabled]="isPreviousYearSelected"
    ></p-button>
  </div>
</div>
