<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<h2>Achievements</h2>

<p-table
  *ngIf="!isLoading && !error"
  [value]="achievements"
  [paginator]="true"
  [rows]="10"
  [responsiveLayout]="'scroll'"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Achievement Name</th>
      <th>Group Achievement ID</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-achievement>
    <tr *ngFor="let achievement of achievements">
      <td>{{ achievement.id }}</td>
      <td>{{ achievement.achievement_name }}</td>
      <td>{{ achievement.group_achievement_id }}</td>
    </tr>
  </ng-template>
</p-table>
