<div class="navbar-wrapper">
  <p-menubar [model]="menuItems">
    <div
      style="
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;
      "
      (click)="goToUserProfile()"
    >
      <!-- Profile Picture and Info -->
      <div class="profile-section" style="display: flex; align-items: center">
        <!-- Profile Picture -->
        <div
          style="
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #007bff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-right: 8px; /* Reduced space between the picture and text */
          "
        >
          {{ (currentUser.username || "").charAt(0).toUpperCase() }}
        </div>
  
        <!-- User Info (Username and Role) -->
        <div class="user-info" style="margin: 0">
          <h3 style="margin: 0; font-size: 14px">{{ currentUser.username }}</h3>
          <p style="margin: 0; font-size: 12px">
            <span *ngFor="let r of role; let isLast = last">
              {{ r.toLowerCase() }}<span *ngIf="!isLast">  </span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </p-menubar>
</div>
  
